button {
  width: 120px;
  height: 29px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

tr:nth-child(odd) {
  background-color: rgb(194 179 179 / 82.2%);
}

th {
  background-color: black;
  color: white;
}
