.container {
  background-color: white;
  max-width: 1200px;
  font-family: "DM Sans", sans-serif;
}

.row {
  display: flex;
  justify-content: center;
}

.column-eighteen-percent {
  flex-basis: 18%;
}

.img-div {
  display: flex;
  height: 300px;
}

.special-span {
  background-color: lightyellow;
  color: black;
  font-weight: bold;
}

.three-four-row-p {
  font-size: 13px;
}

.three-four-row-p.last {
  padding-left: 30px;
}

span {
  color: lightgrey;
}
